'.source.vtt':
  'WebVTT Template':
    'prefix': 'vtt'
    'body': """
      WEBVTT

      00:${1:00}.000 --> 00:${2:00}.000
      ${3:Text}
    """

  'WebVTT New Entry':
    'prefix': 'sub'
    'body': """
      00:${1:00}.000 --> 00:${2:00}.000
      ${3}
    """
